/* Style général */
body {
    margin: 0;
    background-color: #1a1a1a; /* Fond noir */
    color: #ffffff; /* Texte blanc */
  }
  
  /* Style du header */
  header {
    background-color: #001f3f; /* Bleu nuit */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style du h1 */
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  /* Style pour le logo utilisateur */
  .user-icon img {
    width: 35px; /* Taille du logo */
    height: 35px;
    cursor: pointer; /* Changement de curseur pour montrer que c'est cliquable */
  }
  
  .user-icon {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  