.message-perso {
    color: white; /* Définit la couleur du texte en blanc */
    font-size: 24px; /* Taille de police */
    text-align: center; /* Centrer le texte */
    margin-top: 20px; /* Marge en haut */
    padding: 20px; /* Ajoute de l'espace autour du texte */
    background-color: rgba(0, 0, 0, 0.5); /* Arrière-plan semi-transparent */
    border-radius: 10px; /* Coins arrondis */
}
.continue-button {
    display: flex; /* Utiliser flexbox pour centrer le contenu */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    max-width: 420px; /* Limiter la largeur du bouton */
    margin: 20px auto; /* Centrer le bouton horizontalement et ajouter un espacement en haut */
    height: 45px;
    border: none;
    outline: none;
    background: linear-gradient(45deg, #007bff, #0056b3); /* Dégradé pour le bouton */
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 40px;
    transition: background 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.continue-button:hover {
    background: linear-gradient(45deg, #0056b3, #003580); /* Effet de survol */
}
