.logo{
    width: 100px;
    height: 80px;
    position : absolute;
    top: 0;
    left: 0;
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}

.name{
    color: whitesmoke;
    width: 6%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 25px;
}

.title{
    color: whitesmoke;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    margin-top: 20px;
    left: 44%;
}

button {
    position: relative; /* Nécessaire pour z-index */
    z-index: 10; /* Assure-toi que le bouton est au-dessus */
    padding: 10px 15px;
    margin: 5px;
    color: white; /* Couleur du texte */
    border: none;
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Change le curseur au survol */
    font-size: 16px; /* Taille de police */
    margin-top: 130px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    gap: 15px; /* Espacement entre les images */
    justify-items: center; /* Centre les images dans leurs cellules */
    margin: 50px auto; /* Ajoute un espace autour de la galerie */
}

.gallery img {
    width: 75%; /* Assure que les images prennent la largeur de la cellule */
    height: auto; /* Garde le ratio de l'image */
    max-height: 800px; /* Hauteur maximale pour uniformiser la taille */
    object-fit: cover; /* Ajuste les images pour couvrir l'espace sans déformer */
    border-radius: 5px; /* Coins arrondis pour un meilleur rendu */
}

/* Ajuste le conteneur pour éviter que les images n'empiètent sur les autres éléments */
.container {
    padding-top: 100px; /* Ajoute un espace en haut pour éviter le chevauchement */
}
.category-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.category-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.category-buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.category-buttons button img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 5%;
}

.category-buttons button p {
  margin-top: 5px;
  font-size: 14px;
}

.category-buttons button.selected {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}